$font-stack: Arial, Helvetica, sans-serif;

html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
    margin: 0;
    padding: 0;
}

html {
    font-family: $font-stack;

    body {

        div.container {
            width: 100%;

            header {
                position: fixed;
                width: 100%;
                background-color: rgba(29, 207, 155, 0.95);
                color: #ffe;

                nav {
                    margin: 0 auto;
                    padding: 15px 0;
                    overflow: auto;
                    width: 80%;

                    i {
                        font-size: 22px;
                        cursor: pointer;
                    }
                    ul {
                        display: none;
                        float: left;
                        overflow: auto;
                        list-style: none;

                        li {
                            float: left;

                            a {
                                text-decoration: none;
                                color: inherit;
                            }
                        }
                        li:not(:last-child) {
                            margin-right: 15px;
                        }
                    }
                    h3 {
                        float: right;
                        letter-spacing: 1px;
                    }
                }
            }
            main {
                padding-top: 52px;

                div.content {
                    padding: 20px 0;
                }
            }
            footer {
                width: 100%;
                background-color: rgba(29, 207, 155, 0.95);
                color: #ffe;
                font-size: 14px;

                div.footer-inner {
                    margin: 0 auto;
                    padding: 15px 0;
                    width: 80%;

                    span {

                        i {
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
    }
}