<div class="content" id="winners">

	<h1 class="page-header">Winners</h1>
	<div class="winners-list-wrapper">
	    <ul class="winners-list">
	    	<li>
	    		<img class="featured-image" src="https://unsplash.it/200?image=428" />
	    		<div class="item-info">
	    			<h3 class="item-title">Raspberries</h3>
	    			<h5 class="item-owner">by Jon Rovira</h5>
	    		</div>
	    		<div class="item-likes">
	    			<span class="item-votes"><i class="fa fa fa-heart"></i>89</span>
	    		</div>
	    	</li>
	    	<li>
	    		<img class="featured-image" src="https://unsplash.it/200?image=428" />
	    		<div class="item-info">
	    			<h3 class="item-title">Raspberries</h3>
	    			<h5 class="item-owner">by Jon Rovira</h5>
	    		</div>
	    		<div class="item-likes">
	    			<span class="item-votes"><i class="fa fa fa-heart"></i>52</span>
	    		</div>
	    	</li>
	    	<li>
	    		<img class="featured-image" src="https://unsplash.it/200?image=428" />
	    		<div class="item-info">
	    			<h3 class="item-title">Raspberries</h3>
	    			<h5 class="item-owner">by Jon Rovira</h5>
	    		</div>
	    		<div class="item-likes">
	    			<span class="item-votes"><i class="fa fa fa-heart"></i>48</span>
	    		</div>
	    	</li>
	    	<li>
	    		<img class="featured-image" src="https://unsplash.it/200?image=428" />
	    		<div class="item-info">
	    			<h3 class="item-title">Raspberries</h3>
	    			<h5 class="item-owner">by Jon Rovira</h5>
	    		</div>
	    		<div class="item-likes">
	    			<span class="item-votes"><i class="fa fa fa-heart"></i>37</span>
	    		</div>
	    	</li>
	    </ul>
	</div>

</div>